@import "common";

input::-webkit-input-placeholder { color: #999; }
input:hover::-webkit-input-placeholder { color: #00E676; }
#save-cancel { display: none; }

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  .add-wrap {
    position: fixed;
    float: right;
    bottom: 50px;
    right: 60px;
    a.add-btn > i.material-icons {
      color: #448AFF;
      font-size: 60px;
      text-align: center;
      text-shadow: 0 4px 20px rgba(0,0,0,0.1), 0 8px 8px rgba(0,0,0,0.1);
    }
    a.add-btn:hover > i.material-icons {
      color: #2979FF;
      cursor: pointer;
    }
    a.add-btn:active > i.material-icons {
      color: #2962FF;
    }
  }
  .title {
    width: 100%;
    margin: 0 auto;
    h2 {
      text-align: center;
      font-size: 2.6em;
      padding-top: 40px;
    }
  }
  .bookshelf {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 20px;
    background-color: #efefef;
    #inputForm {
      display: none;
    }
    .book-container {
      position: relative;
      width: 100%;
      height: auto;
      margin-bottom: 26px;
      background-color: white;
      box-shadow: 0 8px 14px rgba(0,0,0,0.1), 0 8px 8px rgba(0,0,0,0.1);
      .book-list {
        width: 80%;
        padding: 40px 30px;
        box-sizing: border-box;
        .editData {
          display: none;
        }
        .editTitle {
          @extend %title;
          cursor: auto;
          color: #999;
          &:hover {
            color: #00E676;
          }
        }
        .editPublisher {
          cursor: auto;
          color: #999;
          @extend %publisher;
          &:hover {
            color: #00E676;
          }
        }
        .book-title {
          @extend %title;
          color: #303030;
          input#input-title {
            font-size: 1.4em;
            font-weight: bold;
            word-break: keep-all;
            line-height: 1.2em;
          }
        }
        .publisher {
          @extend %publisher;
          color: #707070;
          input#input-publisher {
            font-size: 1.3em;
            font-weight: normal;
          }
        }
      }
      .btns {
        position: absolute;
        width: 16%;
        height: 100%;
        margin-left: 84%;
        box-sizing: border-box;
        .edit {
          position: absolute;
          width: 50%;
          height: 100%;
          a:hover > .material-icons {
            color: #666;
            cursor: pointer;
          }
          a:active > .material-icons {
            color: #434343;
          }
        }
        .remove {
          position: absolute;
          width: 50%;
          height: 100%;
          right: 0px;
          a:hover > .material-icons {
            color: #FF5252;
            cursor: pointer;
          }
          a:active > .material-icons {
            color: #FF2424;
            cursor: pointer;
          }
        }
        a > i.material-icons {
          width: 100%;
          position: absolute;
          text-align: center;
          display: inline-block;
          color: #e0e0e0;
          font-size: 36px;
          bottom: 20px;
        }
        .add-save {
          @extend %add-btn;
          background-color: #B2EBF2;
          &:hover {
            background-color: #80DEEA;
          }
          &:active {
            background-color: #4DD0E1;
          }
        }
        .add-cancel {
          @extend %add-btn;
          background-color: #FF8080;
          bottom: 0px;
          &:hover {
            background-color: #FF6565;
          }
          &:active {
            background-color: #FF4343;
          }
        }
      }
    }
  }
}
