html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: #efefef; }

html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: Helvetica,'Apple SD Gothic Neo',Sans-serif; }

body, p, h2 {
  margin: 0;
  padding: 0; }

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

.container {
  position: absolute;
  width: 100%;
  height: 100%; }
  .container .title {
    width: 100%;
    margin: 0 auto; }
    .container .title h2 {
      text-align: center;
      font-size: 2.6em;
      padding-top: 40px; }
  .container .bookshelf {
    padding-top: 20px;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #efefef; }
    .container .bookshelf .book-container {
      position: relative;
      background-color: white;
      margin-bottom: 26px;
      width: 100%;
      height: auto;
      box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1); }
      .container .bookshelf .book-container .book-list {
        padding: 40px 30px;
        box-sizing: border-box;
        width: 80%; }
        .container .bookshelf .book-container .book-list .book_name {
          font-size: 2.4em;
          font-weight: 900;
          padding-bottom: 26px;
          color: #303030;
          word-break: keep-all;
          line-height: 1.3em; }
        .container .bookshelf .book-container .book-list .publisher {
          font-size: 1.5em;
          font-weight: normal;
          color: #707070; }
      .container .bookshelf .book-container .btns {
        position: absolute;
        margin-left: 90%;
        width: 10%;
        height: 100%; }
        .container .bookshelf .book-container .btns .edit {
          position: absolute;
          width: 100%;
          height: 50%;
          top: 0; }
          .container .bookshelf .book-container .btns .edit a:hover > .material-icons {
            color: blue; }
        .container .bookshelf .book-container .btns .remove {
          position: absolute;
          width: 100%;
          height: 50%;
          bottom: 0; }
          .container .bookshelf .book-container .btns .remove a:hover > .material-icons {
            color: red; }
        .container .bookshelf .book-container .btns a > i.material-icons {
          width: 100%;
          height: 40%;
          margin: 30% 0%;
          position: absolute;
          text-align: center;
          vertical-align: middle;
          display: inline-block;
          color: #e0e0e0;
          font-size: 36px; }
