html, body { width: 100%; height: 100%; -webkit-font-smoothing: antialiased; background-color: #efefef; }

html { box-sizing: border-box; font-size: 14px; font-family: Helvetica,'Apple SD Gothic Neo',Sans-serif; }

body, p, h2 { margin: 0; padding: 0; }

ul, ol { margin: 0px; padding: 0px; list-style-type: none; }

input { border: none; }

input:focus { outline-color: transparent; outline-style: none; }

button { border: none; color: white; font-size: 1.5em; font-weight: normal; background-color: transparent; height: 100%; width: 100%; }

button:hover { cursor: pointer; }

button:focus { outline-color: transparent; outline-style: none; outline: none !important; cursor: pointer; }

.container .bookshelf .book-container .btns .add-save, .container .bookshelf .book-container .btns .add-cancel { position: absolute; border: none; color: white; width: 100%; height: 50%; margin: 0 auto; text-align: center; text-decoration: none; display: inline-block; }

.container .bookshelf .book-container .book-list .editTitle, .container .bookshelf .book-container .book-list .book-title { font-size: 2.4em; font-weight: 900; padding-bottom: 26px; word-break: keep-all; line-height: 1.3em; }

.container .bookshelf .book-container .book-list .editPublisher, .container .bookshelf .book-container .book-list .publisher { font-size: 1.5em; font-weight: normal; }

input::-webkit-input-placeholder { color: #999; }

input:hover::-webkit-input-placeholder { color: #00E676; }

.container { position: absolute; width: 100%; height: 100%; }

.container .add-wrap { position: fixed; float: right; bottom: 50px; right: 60px; }

.container .add-wrap a.add-btn > i.material-icons { color: #448AFF; font-size: 60px; text-align: center; text-shadow: 0 4px 20px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1); }

.container .add-wrap a.add-btn:hover > i.material-icons { color: #2979FF; cursor: pointer; }

.container .add-wrap a.add-btn:active > i.material-icons { color: #2962FF; }

.container .title { width: 100%; margin: 0 auto; }

.container .title h2 { text-align: center; font-size: 2.6em; padding-top: 40px; }

.container .bookshelf { width: 70%; height: 100%; margin: 0 auto; margin-top: 40px; padding-top: 20px; background-color: #efefef; }

.container .bookshelf #inputForm { display: none; }

.container .bookshelf .book-container { position: relative; width: 100%; height: auto; margin-bottom: 26px; background-color: white; box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1); }

.container .bookshelf .book-container .book-list { width: 80%; padding: 40px 30px; box-sizing: border-box; }

.container .bookshelf .book-container .book-list .editData { display: none; }

.container .bookshelf .book-container .book-list .editTitle { cursor: auto; color: #999; }

.container .bookshelf .book-container .book-list .editTitle:hover { color: #00E676; }

.container .bookshelf .book-container .book-list .editPublisher { cursor: auto; color: #999; }

.container .bookshelf .book-container .book-list .editPublisher:hover { color: #00E676; }

.container .bookshelf .book-container .book-list .book-title { color: #303030; }

.container .bookshelf .book-container .book-list .book-title input#input-title { width: 100%; font-size: 1.4em; font-weight: bold; word-break: keep-all; line-height: 1.2em; }

.container .bookshelf .book-container .book-list .publisher { color: #707070; }

.container .bookshelf .book-container .book-list .publisher input#input-publisher { width: 100%; font-size: 1.3em; font-weight: normal; }

.container .bookshelf .book-container .save-cancel { display: none; }

.container .bookshelf .book-container .btns { position: absolute; width: 16%; height: 100%; margin-left: 84%; box-sizing: border-box; }

.container .bookshelf .book-container .btns .edit { position: absolute; width: 50%; height: 100%; }

.container .bookshelf .book-container .btns .edit a:hover > .material-icons { color: #666; cursor: pointer; }

.container .bookshelf .book-container .btns .edit a:active > .material-icons { color: #434343; }

.container .bookshelf .book-container .btns .remove { position: absolute; width: 50%; height: 100%; right: 0px; }

.container .bookshelf .book-container .btns .remove a:hover > .material-icons { color: #FF5252; cursor: pointer; }

.container .bookshelf .book-container .btns .remove a:active > .material-icons { color: #FF2424; cursor: pointer; }

.container .bookshelf .book-container .btns a > i.material-icons { width: 100%; position: absolute; text-align: center; display: inline-block; color: #e0e0e0; font-size: 36px; bottom: 20px; }

.container .bookshelf .book-container .btns .add-save { background-color: #B2EBF2; }

.container .bookshelf .book-container .btns .add-save:hover { background-color: #80DEEA; }

.container .bookshelf .book-container .btns .add-save:active { background-color: #4DD0E1; }

.container .bookshelf .book-container .btns .add-cancel { background-color: #FF8080; bottom: 0px; }

.container .bookshelf .book-container .btns .add-cancel:hover { background-color: #FF6565; }

.container .bookshelf .book-container .btns .add-cancel:active { background-color: #FF4343; }
